<%= form_with model: @task, local: true do |f| %>
  <div class="form-group">
      <%= f.label "To edit" %>
      <%= f.text_field :name, class: "form-control", id: "task_name" ,placeholder: "New task" %>
  </div>

  <%= f.submit "Edit", class: "btn btn-primary edit-button-edit" %>
<% end %>

<%= link_to "Back",tasks_url, class: "btn btn-info edit-button-back" %>
