<%= form_with model: @task, local: true do |f| %>
  <div class="form-group">
    <%= render "shared/error_messages" %>
      <%= f.label "Add to task" %>
      <%= f.text_field :name, class: "form-control", id: "task_name" ,placeholder: "New task" %>
  </div>

  <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>

<%= link_to "Back",tasks_url, class: "btn btn-info" %>
